{% extends "main.html" %}
{% block content %}

{% include "header.html" %}

<div class="container content">
<div class="row">
    <div class="col-sm-4 col-md-4">
        <h2>Categories</h2>
        {% for categorie in categories %}
            <p class="lead"><a href='/catalog/{{categorie.name}}/items/'>{{categorie.name}}</a></p>
        {% endfor %}
    </div>
    <div class="col-sm-8 col-md-8">
        <h2>Latest Items</h2>
        {% for item in items %}
            <p><a href='{{item.categorie.name}}/items/{{item.slug}}'>{{item.name}}</a><span class="blockquote-footer"> ({{item.categorie.name}})</span></p>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}